@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root { 
    --wb-main-color: #809BBF;
    --wb-darker-main-color: #5a7ead;
    --wb-second-color: #F20544;
    --wb-darker-second-color:rgb(107, 16, 40);
    --wb-low-opacity-main-color:rgba(128, 155, 191, .3); 
    --wb-low-opacity-second-color: rgba(242, 5, 68, .2);
    --wb-light-tone: #fcf5f1;
    --wb-light-tone-lowered: #fdf2eb;
    --wb-lighter-main-color: #61aecc;
    --wb-lighter-second-color: #F22E76;
    --span-font-color: rgba(0, 0, 0, 0.85);

    --h3-font-size: calc(1.5vw + 2.1vh);
    --span-font-size: calc(1.05vw + 1.5vh);
    --lower-span-font-size: calc(.55vw + 1vh);
}

.wb-menu {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 15%;
}

.menu-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.menu-container h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size:  var(--h3-font-size);
    font-weight: bold;
    text-decoration: underline 3px;
}

.menu-food {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 15px;
    background: var(--wb-light-tone-lowered);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
    transition: all .15s linear;
}

.menu-food:hover {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.23);
    transition: all .15s linear;
}

.menu-food h4 {
    font-size: var(--span-font-size);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.menu-food span {
    font-family: 'Roboto', sans-serif;
    font-size: var(--lower-span-font-size);
    color: var(--span-font-size);
}

.menu-food .food-price {
    color: var(--wb-second-color);
}

@media screen and (min-width:600px) {
    .menu-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        gap: 45px;
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width:600px) {
    .wb-menu {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-rows: repeat(auto-fill, 1fr);
        gap: 5%;
    }

    .menu-wrapper {
        display: grid;
        grid-template-rows: repeat(auto-fill, 1fr);
        gap: 35px;
        width: 100%;
        height: auto;
    }
}